.subscribe {

  .subscribe__input {
    margin-bottom: 35px;
    position: relative;
  }

  label.error {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -22px;
    text-align: center;
    color: $white;
    font-size: 13px;
  }

  input:not([type='checkbox']) {
    border: 2px solid $white;
    width: 100%;
    display: block;
    background-color: transparent;
    border-radius: 30px;
    font-family: 'Roboto';
    font-weight: 300;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0 16px 58px;
    box-sizing: border-box;
    outline: none;

    &::placeholder {
      opacity: 1;
      color: $white;
    }

    &:focus {
      border-color: #ff8d00;
    }

  }

  .subscribe__name {
    background: url('../../images/freesloveniav/person.png') 30px 18px no-repeat;
  }

  .subscribe__email {
    background: url('../../images/freesloveniav/mail.png') 30px 18px no-repeat;
  }
  
  button {
    font-family: 'Roboto';
    font-weight: 900;
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    padding: 16px 0;
    display: block;
    width: 100%;
    background: #ff8d00;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    border: 2px solid #ff8d00;

    &:hover {
      background: darken(#ff8d00, 5%);
      border-color: darken(#ff8d00, 5%);
    }

    &:active {
      background: darken(#ff8d00, 10%);
      border-color: darken(#ff8d00, 10%);
    }

    &:focus {
      background: darken(#ff8d00, 10%);
    }

  }

  .subscribe__conf {
    padding-left: 45px;
    margin-top: 25px;

    label {
      position: relative;
      font-size: 13px;
      line-height: 16px;
      color: $white;
      cursor: pointer;
      display: inline-block;

      a {
        color: $white;
        
        &:hover {
          text-decoration: none;
        }
        
      }

      &::after {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        border: 2px solid $white;
        top: 50%;
        transform: translateY(-50%);
        box-sizing: border-box;
        left: -40px;
        border-radius: 3px;
      }

    }

    input[type="checkbox"]:checked + label::after {
      background-color: $active-checkbox;
      border-color: $active-checkbox;
    }

    input[type="checkbox"]:checked + label::before {
       content: "";
       width: 10px;
       height: 5px;
       border-left: 2px solid $white;
       border-bottom: 2px solid $white;
       position: absolute;
       left: -35px;
       z-index: 1;
       transform: translateY(calc(-50% - 2px)) rotate(-45deg);
       top: 50%;
    }

    input[type="checkbox"]:focus + label::after {
      border-color: #ff8d00;
    }

  }

}